<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>items</key>
		<array>
			<dict>
				<key>cell</key>
				<string>PSGroupCell</string>
				<key>label</key>
				<string>Settings</string>
				<key>footerText</key>
				<string>Respring your device to apply changes.</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSSwitchCell</string>
				<key>default</key>
				<true/>
				<key>defaults</key>
				<string>com.5px.finical</string>
				<key>key</key>
				<string>enabled</string>
				<key>label</key>
				<string>Enabled</string>

			</dict>
			<dict>
				<key>action</key>
				<string>respring</string>
				<key>cell</key>
				<string>PSButtonCell</string>
				<key>label</key>
				<string>Respring</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSGroupCell</string>
				<key>label</key>
				<string>Gesture Direction</string>
				<key>footerText</key>
				<string>The swipe direction to dismiss the Lockscreen player.</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSSegmentCell</string>
				<key>defaults</key>
				<string>com.5px.finical</string>
				<key>key</key>
				<string>dismissGesture</string>
				<key>default</key>
				<integer>2</integer>
				<key>validTitles</key>
				<array>
					<string>Left</string>
					<string>Right</string>
					<string>Up</string>
					<string>Down</string>
				</array>
				<key>validValues</key>
				<array>
					<integer>0</integer>
					<integer>1</integer>
					<integer>2</integer>
					<integer>3</integer>
				</array>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSGroupCell</string>
				<key>label</key>
				<string>options</string>
				<key>footerText</key>
				<string>The time until the player is automatically dismissed.</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSSwitchCell</string>
				<key>default</key>
				<false/>
				<key>defaults</key>
				<string>com.5px.finical</string>
				<key>key</key>
				<string>killApp</string>
				<key>label</key>
				<string>Close Now Playing App on Dismissal</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSSwitchCell</string>
				<key>default</key>
				<false/>
				<key>defaults</key>
				<string>com.5px.finical</string>
				<key>key</key>
				<string>dismissPlayer</string>
				<key>label</key>
				<string>Dismiss Automatically</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSSliderCell</string>
				<key>min</key>
				<real>0</real>
				<key>max</key>
				<real>60</real>
				<key>default</key>
				<real>0</real>
				<key>showValue</key>
				<true/>
				<key>isSegmented</key>
				<true/>
				<key>segmentCount</key>
				<integer>60</integer>
				<key>defaults</key>
				<string>com.5px.finical</string>
				<key>key</key>
				<string>timeValue</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSSegmentCell</string>
				<key>defaults</key>
				<string>com.5px.finical</string>
				<key>key</key>
				<string>timeOption</string>
				<key>default</key>
				<integer>0</integer>
				<key>validTitles</key>
				<array>
					<string>Seconds</string>
					<string>Minutes</string>
					<string>Hours</string>
				</array>
				<key>validValues</key>
				<array>
					<integer>0</integer>
					<integer>1</integer>
					<integer>2</integer>
				</array>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSGroupCell</string>
				<key>label</key>
				<string>Support</string>
				<key>footerText</key>
				<string>Having trouble with Finical?</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSButtonCell</string>
				<key>action</key>
				<string>openDiscord</string>
				<key>label</key>
				<string>FivePixels Discord Server</string>
				<key>icon</key>
				<string>discord.png</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSButtonCell</string>
				<key>action</key>
				<string>openTwitterDM</string>
				<key>label</key>
				<string>Get Support on Twitter</string>
				<key>icon</key>
				<string>twitter.png</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSGroupCell</string>
				<key>label</key>
				<string>Developer</string>
				<key>footerText</key>
				<string>"If this is coffee, please bring me some tea; but if this is tea, please bring me some coffee."</string>
				<key>footerAlignment</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>action</key>
				<string>openTwitter5px</string>
				<key>cell</key>
				<string>PSButtonCell</string>
				<key>label</key>
				<string>Dylan Bolger (FivePixels)</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSGroupCell</string>
				<key>footerAlignment</key>
				<integer>1</integer>
				<key>footerText</key>
				<string>Dylan Bolger (FivePixels) © 2020</string>
			</dict>
		</array>
		<key>title</key>
		<string>Finical</string>
	</dict>
</plist>
